:root {
  --red: red;
  --white: white;
  --black: black;

  --border-radius-pic: 35px;
  --border-radius: 20px;
  --border: 10px solid transparent;
  --box-shadow: inset 0px 1px 6px;

  --line-height-p: 2;
  --line-height-h1: 1.5;

  --font-size-h1: clamp(2rem, 2vw, 5rem);
  --font-size-sm: 20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Hk Grotesk", sans-serif;
  color: var(--white);
}
html {
  scroll-behavior: smooth;
}

#my-portfolio {
  /* background: url("../images/bg.jpg");
  background-size:cover;
  background-repeat: no-repeat; */
  /* background: var(--red); */
  background: var(--black);
}

/* Navbar section */

.navbar {
  /* background: var(--black); */
  height: 50px;
  padding: 0.5rem calc((100vw - 1200px) / 2);
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.navbar_logo {
  text-decoration: none;
  font-weight: 900;
  font-size: 30px;
  padding-left: 1rem;
  color: var(--white);
}

.navbar_logo span {
  color: var(--red);
}

.navbar_link {
  text-decoration: none;
  color: var(--white);
  padding: 10px 40px;
  font-weight: bolder;
  margin: 0 10px;
}

.navbar_link:hover {
  color: var(--white);
  text-decoration-style: double;
  border-radius: var(--border-radius);
  border: var(--border);
  box-shadow: var(--box-shadow);
  color: var(--red);
  transition: all 1s ease;
}

@media screen and (max-width: 768px) {
  body.active {
    overflow-x: hidden;
    overflow-y: hidden;
  }
  .navbar_link {
    display: flex;
    justify-content: center;
    align-items: center;
    /* display: none; */
  }

  .navbar_toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.4s ease-in-out;
    background: var(--white);
    display: block;
    cursor: pointer;
  }

  .navbar_menu {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 100px);
    position: absolute;
    width: 100%;
    top: -1000px;
  }

  .navbar_menu.active {
    top: 100%;
    opacity: 1;
    z-index: 99;
    height: 100vh;
    font-size: 1.5rem;

    background: var(--black);
  }

  #mobile-menu {
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translate(4%, -50%);
  }

  #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }

  #mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  #mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

/* Hero section */

#introduction {
  padding-bottom: 10rem;
}

.hero {
  /* background: var(--black); */

  padding: 0.5rem calc((100vw - 1200px) / 2);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 2rem;
}
.hero_content {
  color: var(--white);
  padding: 3rem 1rem;
  line-height: 1;
  margin-left: 20px;
}

.hero_content h1 {
  word-spacing: 3px;
  margin-top: 20%;
  font-size: clamp(1rem, 8vw, 3rem);
  text-transform: uppercase;
  margin-bottom: 0.5rem;
  /* margin-left: 20px; */
  padding-bottom: 20px;
}
.hero_content h3 {
  margin-top: 56px;
  font-size: 23px;
  /* margin-left: 20px; */
}

.hero_content p {
  line-height: 1.5;
  font-size: larger;
  margin: 14px 0 42px 0;
  font-weight: normal;
  /* margin-left: 20px; */
}

@media screen and (max-width: 768px) {
  #introduction {
    padding-bottom: 5rem;
  }
  .hero_content {
    text-align: center;
  }
}

.button {
  padding: 1rem 3rem;
  border: none;
  background: var(--red);
  color: white;
  font-size: var(--font-size-sm);
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.5s ease;
  border-radius: 20px;
  position: relative;

}

.button:hover {
  background: var(--black);
  color: var(--white);

  border-radius: var(--border-radius);
  border: var(--border);
  box-shadow: var(--box-shadow);
}

/* About Me section: */

#About-me {
  margin-left: 10px;
  padding: 0.5rem calc((100vw - 1200px) / 2);
  margin-top: 3rem;
}
#About-me h1 {
  text-align: start;
  padding: 10px 50px;
  margin-left: 20px;
  margin-bottom: 6rem;
  font-size: var(--font-size-h1);
  cursor: pointer;
  display: inline-block;

  border-radius: var(--border-radius);
  border: var(--border);
  box-shadow: var(--box-shadow);
}
#About-me h1:hover {
  color: var(--red);
  display: inline-block;
}
#About-me h1::after {
  content: "";
  display: block;
  height: 2px;
  width: 5rem;
  background: crimson;
}
.my-pic {
  border-radius: var(--border-radius-pic);
  border: var(--border);
  box-shadow: var(--box-shadow);
}

.self-intro {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.self_text {
  margin-left: 20px;
}

.self_text p {
  padding: 50px 0;
  margin-left: 20px;
  line-height: var(--line-height-p);
}

@media screen and (max-width: 888px) {
  .self-intro {
    flex-direction: column;
    align-items: initial;
    flex-wrap: wrap;
  }
  .self_text {
    padding: 0 0 20px 0;
    margin: 20px auto;
    line-height: 1;
  }
  .my-pic {
    display: block;
    width: 80%;
    height: auto;
    margin: auto;
    border: none;
    border-radius: 10px;
    box-shadow: none;
  }

  .self_text a {
    margin-left: 20px;
  }

  #About-me h1 {
    font-size: 20px;
    padding-bottom: 10px;
  }

}


/* Skills */

.skills {
  margin: 50px 20px;
  padding: 0.5rem calc((100vw - 1200px) / 2);
}
.skills h1 {
  display: inline-block;
  text-align: start;
  padding: 10px 50px;

  margin: 4rem 20px;
  font-size: var(--font-size-h1);
  border-radius: var(--border-radius);
  border: var(--border);
  box-shadow: var(--box-shadow);
  cursor: pointer;
}

.skills h1:hover {
  color: red;
}

.skills h1::after {
  content: "";
  display: block;
  height: 2px;
  width: 5rem;
  background: crimson;
}

.skill-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.skill-list i {
  padding: 50px;
  margin-left: 20px;
 text-align: center;

}
.skill-list  h3 {
  font-size: var(--font-size-sm);
  padding: 10px;
  cursor: pointer;

  border-radius: var(--border-radius);
  border: var(--border);
  box-shadow: var(--box-shadow);
}

.skill-list h3:hover {
  color: red;
}



@media screen and (max-width: 800px) {
  .skill-list {
    display: grid;
    grid-template-columns: 1fr 1fr ;
  }
  .skill-list i {
    padding: 20px;
    margin-left: 5px;
 
  
  }
}
@media screen and (max-width:530px) {
  .skill-list {
    display: grid;
    grid-template-columns: 1fr ;
  }
}




/* projects */
.project-section {
  margin: 50px 20px;
  padding: 0.5rem calc((100vw - 1200px) / 2);
}
.project-section h1{
  font-size: var(--font-size-h1);
  display: inline-block;
  padding: 10px 50px;
  margin-bottom: 3rem;
margin-left: 20px;
  text-align: center;
  border-radius: var(--border-radius);
  border: var(--border);
  box-shadow: var(--box-shadow);
  cursor: pointer;
}

.project-section h1:hover{
  color: var(--red);
}
.project-section h1::after {
  content: "";
  display: block;
  height: 2px;
  width: 5rem;
  background: crimson;
}
.project_content{
display: flex;
flex-direction: row-reverse;
justify-content: space-between;
align-items: center;
margin: 80px auto;
line-height: 2;


}

.project_image {
width: 50%;
height: auto;
  display: inline-block;
}

.project_info{
  font-size: var(--font-size-sm);
  padding: 20px 20px;
}
.project_info h2{
  font-size: var(--font-size-h1);
  padding: 20px 10px;
  cursor:pointer;
}

.project_info h2::after {
  content: "";
  display: block;
  height: 2px;
  width: 3rem;
  background: crimson;
}

.project_info p{
  padding-bottom: 10px;
}
.project_info ul li{
  padding: 5px 10px;
}
.project_info a{
  word-spacing: 5px;
text-decoration: none;
line-height: 5;
text-align: center;
border-radius: var(--border-radius);
border: var(--border);
box-shadow: var(--box-shadow);
padding: 3px 40px;

}
.project_info a:hover{
  color: var(--red);
 transition: all 1s ease;
}

@media screen and (max-width:900px) {
  .project_content{
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
  .project_image{
    width: 100%;
    height: auto;
  }
  .project_info h2{
    font-size: var(--font-size-h1);
    padding: 0 0 20px 0;
    margin: 20px auto;
        cursor:pointer;
  }
}



/* ----- Contact ----- */
.contact{
  margin-top: 3rem;
}

.contact__info {
  max-width:50%;
  margin-bottom: 30px;
  padding: 0.5rem calc((100vw - 1200px) / 2);

}
.contact__info p{
  line-height: var(--line-height-p);
}
.row h1 {
  font-size: var(--font-size-h1);
  border-radius: var(--border-radius);
border: var(--border);
box-shadow: var(--box-shadow);
padding: 3px 40px;
display: inline-block;
}
.row h1:hover{
  color: var(--red);
}
.row h1::after{
  content: "";
  display: block;
  height: 2px;
  width: 5rem;
  background: crimson;
  
}
.row .button{
  margin-left: 40px;
}

@media screen and (max-width:560px) {
  .row .button{
    margin: 0px;
    padding: 1rem 3rem;

  }
  .contact{
    margin-left:5px;
  }
  .contact__info {
    display: flex;
flex-direction: column;
align-items: initial;
    flex-wrap: wrap;
  }
  
}
/* ----- Footer ----- */

.footer {
  text-align: center;
}

.footer__social-links {
  display: flex;
  justify-content: center;
  list-style: none;
}

.footer__social-link-item{
  margin: 80px 30px ;
  cursor: pointer;
}

.footer__social-image {
  height: 4rem;

  margin: 30px 10px ;
  filter: invert(0%);
}


.footer p{
 line-height: 1.5;
 padding-bottom: 3rem;
}
@media(max-width: 500px) {
  .footer {
        padding: 0.5rem calc((100vw - 1200px) / 2);

  } 
  .footer__social-link-item{
    margin: 40px 20px;
  }
}
